#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #039be5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar .sidebar-header {
    padding: 20px;
    background-color: #0277bd;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #0277bd;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #039be5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #0277bd;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #0288d1;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}