.custom_modal {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 40;
  background-color: rgba(0, 0, 0, 0.6);
  color: #222;
}

.input_popup {
  width: 600px;
  /*min-height: 400px;*/
  max-height: 600px;
  overflow: auto;
  z-index: 40;
  margin: 5% auto auto;
}

.input_popup div h5 span {
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

.card-footer button {
  float: right;
}

.pop_up_toggle {
  visibility: hidden;
  display: none;
  transition: 0.5s;
}

.user_define {
  padding: 1em;
}

.user_define span {
  width: 75%;
  margin-right: 1em;
}

.custom_user_define_inputs {
  margin-top: 0.5em;
}

.custom_user_define_inputs input {
  width: 60%;
}

.user_define_add_remove_buttons button {
  float: right;
  margin: 0.5em;
}

.disabledDiv {
  pointer-events: none;
  opacity: 0.4;
}

fieldset {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5em;
}

legend {
  font-size: inherit;
  font-weight: bold;
  width: inherit;
  max-width: inherit;
}

#airfoil_plot {
  max-width: 100%;
}