#sidebar {
  min-width: 280px;
  max-width: 280px;
  min-height: 100vh;
  height: 100%;
  overflow: auto;
  /*background: rgba(0, 0, 0, 0.8);*/
  /*background-color: #1f2837;*/
  /*background-color: rgb(28, 43, 54);*/
  background: linear-gradient(87deg, #172b4d 0, #1a174d 100%);
  color: rgba(255, 255, 255, 0.95);
  /*transition: all 0.4s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: bottom left;*/
  /*box-shadow: 12px 4px 6px 4px rgba(0, 0, 0, 0.5);*/
  line-height: 2em;
  transition: all 0.2s ease-in;
  display: flex;
  flex-direction: column;
}

#sidebar img {
  display: inline-block;
  padding-left: 1em;
  cursor: pointer;
}

#sidebar ul li ul li a {
  display: inline-block;
}

#sidebar ul li ul {
  line-height: 1em;
}

#sidebar .sidebar-header {
  padding: 20px;
  height: 80px;
  background-color: #1a174d;
  color: #fafafa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#sidebar.active {
  margin-left: -280px;
  /*transform: rotateY(100deg);*/
  /*min-width: 80px;
  max-width: 80px;*/
  text-align: center;
}

#sidebar .sidebar-header strong {
  display: none;
}

#sidebar.active .sidebar-header h3 {
  display: none;
}

#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar ul.components {
  padding: 20px 0;
  /*border-bottom: 1px solid rgb(74, 227, 135);*/
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  text-align: left;
}

#sidebar ul li a strong {
  font-weight: normal;
}

#sidebar.active ul li a strong {
  display: none;
  visibility: hidden;
}

#sidebar ul li a:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  /*background-color: rgba(0, 0, 0, 1);*/
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 2em !important;
  background: inherit;
}

.sidebar_icons {
  margin-right: 0.8em;
}

.downmenu_icon {
  float: right;
  margin-right: 0.9em;
  margin-top: 0.4em;
}

.toggle_dropdown_menu {
  transform: rotate(180deg);
}

.zeus_logo_div {
  flex-grow: 1;
  position: relative;
}

.zeus_logo {
  width: 75%;
  opacity: 1;
  position: absolute;
  bottom: 0;
}