@media (max-width: 911px) {
  .wrapper {
    display: block;
  }

  .container-fluid {
    padding-right: 5px;
    padding-left: 5px;
  }

  #sidebarCollapse i {
    display: none;
  }

  #sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }

  #sidebar {
    margin-left: -280px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    min-height: 100vh;
    opacity: 0.8;
    color: #fff;
    max-height: 100%;
  }

  #sidebar.active {
    margin-left: 0;
    min-width: 200px;
    max-width: 200px;
    text-align: left;
  }

  #sidebar.active .sidebar-header strong {
    display: inline-block;
  }

  #sidebar.active ul li a i {
    margin-right: 1em;
    display: inline-block;
    font-size: 1em;
    text-align: left;
  }

  #sidebar.active ul li a strong {
    display: inline-block;
    visibility: visible;
  }

  #sidebar.active ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: inline-block;
    text-align: left;
  }

  #softwareOutput {
    height: 75vh;
  }

  #outputLog {
    height: 10vh;
    margin-top: 1rem;
  }

  .input_popup {
    width: 80%;
    margin-left: 10%;
    margin-top: 5rem;
    max-height: 400px;
  }

  #view_toolbar {
    height: 7vh;
  }

  #dxf_output {
    height: 75vh;
  }

  .mobile_inputs_icons img {
    margin: 0 0.3rem;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

  .zeus_logo {
    bottom: 8rem;
  }

  .small_screen_overlay {
    width: 100%;
    min-height : 100vh;
    height : 100%;
    position : absolute;
    left : 0;
    top : 0;
    z-index : 40;
    background-color : rgba(0, 0, 0, 0.6);
    color : #222;
    display: none;
  }

  .outputs {
    height: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .mobile_inputs_icons img {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #sidebar {
    min-width: 225px;
    max-width: 225px;
  }
  #sidebar.active {
    margin-left: -225px;
  }
}